* {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

a {
  color: white;
}

.add-movie-form {
  border: none;
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 34px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  padding-top: 10px;
  width: 100%;
}

.add-movie-form form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.add-movie-form form input {
  width: 60%;
  margin: 10px;
}

.add-movie-form form input:focus {
  outline: none;
}

.add-movie-form form option {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  text-align: center;
}

.add-movie-form form select {
  margin: 10px;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.add-movie-form form select:focus {
  outline: none;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 25px;
  width: 100%;
}

.card-container .card-poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-container .card-poster img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
}

.card-container h2 {
  text-align: center;
  font-size: 36px;
}

.card-container h6 {
  font-weight: bold;
  font-size: 14px;
  margin-top: -10px;
  padding: none;
  text-align: center;
  text-transform: uppercase;
}

.card-container p {
  font-size: 16px;
}

.card-container .rating {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.card-container .positive {
  color: green;
}

.card-container .description-box {
  width: 100%;
}

.card-container .description-box .description {
  color: black;
  font-size: 16px;
  overflow-y: hidden;
}

.navbar-links {
  font-weight: 300;
}

.list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.movieCard {
  min-width: 250px;
  max-width: 250px;
}
/*# sourceMappingURL=Styles.css.map */